<!DOCTYPE html>
<html>
  <head>
    <title>Tourage</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt|Slabo+27px|Zilla+Slab+Highlight" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul>
      <img src="https://i.imgur.com/dYBuv52.png" class="logo"/>
      <a href="/" class="title hvr-grow">TOURAGE</a>
      <div class="google">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
    </ul>

    <div class="container">
      <% if !flash.empty? %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <% flash.each do |key, value| %>
              <% if key == 'notice' %>
                <div class="alert alert-success"><%= value %></div>
              <% elsif key == 'alert' %>
                <div class="alert alert-danger"><%= value %></div>
              <% else %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
