<!DOCTYPE html>
<html>
  <head>
    <title>Tourage</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt|Slabo+27px|Zilla+Slab+Highlight" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    
    <ul>
      <a href="/" class="title hvr-grow"><img src="https://i.imgur.com/dYBuv52.png" class="logo"/> TOURAGE</a>
      <div class="google">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
    </ul>

    <%= yield %>

  </body>
  <footer>
    <div class="container">
    <div class="top-footer">

      <div class="row">

      <div class="col-md-5">
      <address>
        <strong>TOURAGE</strong><br>
        1614 S Rosewood St<br>
        Philadelphia, PA 19145<br>
        <abbr title="Phone">P:</abbr> (215) <439->  </456->4778
      </address>
        </div>

        <div class="col-md-7">
          <h3>Tourage.</h3>
          <p>Tourage was created by Tim Browne at Launch Academy, Philadelphia, PA.</p>
        </div>

      </div>
    </div>
    <div class="main-footer">
  <div class="row">
      <div class="col-md-4 col-sm-12 social">
        <a href="https://www.facebook.com/UhhhTim"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/elwayband"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/115414045362834687955"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.instagram.com/sovietbear/"><i class="fa fa-instagram"></i></a>
    </div>
        <div class="col-md-4 col-sm-12 year">
          <p>Tourage. 2017</p>
          <p>Made with love.</p>
    </div>
        <div class="col-md-4 col-sm-12 copyright">
          <p>Copyright &copy; Tourage</p>
    </div>

      </div>
    </div>
      </div>
  </footer>


  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</html>
